body {
    background: url('/images/voting.jpeg') no-repeat center center fixed;
    background-size: cover;
    font-family: Arial, sans-serif;
    text-align: center;
    color: white;
}

.container {
    width: 400px;
    background: rgba(0, 0, 0, 0.8);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(255, 255, 255, 0.2);
    margin: 80px auto;
}

h1 {
    color: white;
}

.highlight {
    color: #E63946;
}

.input-group {
    margin-bottom: 15px;
}

.input-field {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 14px;
}

button {
    background: #E63946;
    color: white;
    border: none;
    padding: 12px;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
    width: 100%;
    transition: 0.3s;
}

button:hover {
    background: #D62839;
}

.link {
    color: #E63946;
    text-decoration: none;
}

.link:hover {
    text-decoration: underline;
}

.error-message {
    color: red;
	}